GOTALE_API_KEY=COLE_SUA_GOTALE_API_KEY_AQUI
HSG_ADMIN_USERNAME=wonerGard
HSG_ADMIN_PASSWORD=admin123
DISCORD_WEBHOOK_STATUS=COLE_A_URL_DO_WEBHOOK_STATUS_AQUI
DISCORD_WEBHOOK_APPROVED=COLE_A_URL_DO_WEBHOOK_APROVADOS_AQUI
DISCORD_WEBHOOK_RISK=COLE_A_URL_DO_WEBHOOK_ALERTAS_AQUI
PUBLIC_SITE_URL=https://hytaleserverguard.netlify.app
